:root {
  font-family: system-ui, Jost;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: hsl(0, 0%, 5%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
